*
!normalizer/
!normalizer/*.py
!static/
!static/*.html
!static/*.css
!static/*.js
!static/*.svg
!scripts/
!scripts/*.py
!tests/
!tests/*.py
!Dockerfile
!compose.yaml
!render.large-example.yaml
!README.md
!LICENSE
!NOTICE
!requirements*.txt
!requirements.lock
!.gitignore
!.dockerignore
